/* ===============================================
====================== BASE ======================
=============================================== */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

html {
	font-size: 20px;
}

body {
	min-height: 100vh;
	background-color: #f7f7f7;
}

button {
	cursor: pointer;
}

button:focus {
	outline: none;
}

.container {
	display: grid;
	grid-template-areas: "header" "nav" "main";
}

/* ===============================================
=================== KEYFRAMES ====================
=============================================== */

@keyframes shake {
	25% {
		transform: rotate(15deg);
	}

	50% {
		transform: rotate(-15deg);
	}

	75% {
		transform: rotate(10deg);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* ===============================================
===================== HEADER =====================
=============================================== */

.header {
	height: 3.15rem;
	position: relative;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #7477bf;
	color: white;
	grid-area: header;
}

.header__title,
.header__title span {
	font-size: 1rem;
}

.header__title {
	font-weight: 400;
}

.header__title span {
	font-weight: 300;
}

.header__info {
	display: flex;
	align-items: center;
}

.svg-container {
	padding: 4px 4px 0 4px;
	margin-right: 0.4rem;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.svg-container:hover {
	animation: shake 1.2s ease-out backwards;
}

.header__bell {
	height: 1.05rem;
	fill: #e0e1eb;
	position: relative;
}

.new-notifications {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background: #90ee90;
}

.header__notifications {
	display: none;
	opacity: 0;
	width: 250px;
	position: absolute;
	top: 3.25rem;
	right: 1rem;
	background-color: #ffffff;
	border-radius: 6px;
	box-shadow: 0px 0px 2px 0px skyblue;
	z-index: 10;
}

.display {
	display: block;
}
.header__notifications li {
	height: 2.5rem;
	display: flex;
	align-items: center;
	padding: 0.75rem 0.75rem 0.75rem 1.5rem;
	border-bottom: 2px solid #9b9ebb;
}

.notification-text {
	position: relative;
	margin-right: auto;
	list-style: none;
	font-size: 0.65rem;
	color: black;
}

.notification-text:before {
	content: "";
	position: absolute;
	top: 2.5px;
	left: -1rem;
	height: 0.6rem;
	width: 0.6rem;
	border-radius: 50%;
	background: #90ee90;
}

.close-notification {
	position: relative;
	height: 1.25rem;
	width: 1.25rem;
	border-radius: 50%;
	cursor: pointer;
}

.close-notification:hover {
	background-color: maroon;
}

.close-notification::before,
.close-notification::after {
	content: "";
	position: absolute;
	height: 14px;
	width: 1px;
	top: 6px;
	right: 12px;
	background-color: black;
}

.close-notification::before {
	transform: rotate(45deg);
}

.close-notification::after {
	transform: rotate(-45deg);
}

.close-notification:hover::before,
.close-notification:hover::after {
	background-color: white;
}

.header__notifications li:first-child {
	display: flex;
	width: 100%;
	justify-content: center;
	border-radius: 5px;
	border-bottom: none;
	background-color: #7477bf;
	color: white;
}

.header__notifications li:last-child {
	border-bottom: none;
}

.header__profile {
	margin-left: 0.4rem;
	display: flex;
	align-items: center;
	border-left: 1px solid #9b9ebb;
}

.header__image {
	height: 1.85rem;
	width: 1.85rem;
	margin: auto 0.4rem;
	border-radius: 50%;
}

.header__name {
	font-weight: 400;
	font-size: 0.6rem;
}

/* ===============================================
====================== NAV =======================
=============================================== */

.navbar {
	height: 2.7rem;
	padding: 10px 40px;
	display: flex;
	justify-content: center;
	background-color: #4d4c72;
	grid-area: nav;
}

.navbar__link {
	margin: auto;
}

.navbar__svg {
	height: 1.5rem;
	fill: white;
}

/* ===============================================
====================== MAIN ======================
=============================================== */

.dashboard {
	background-color: white;
	grid-area: main;
}

.dashboard__head {
	display: flex;
	margin: 0.01rem;
}

.dashboard__title {
	display: inline-block;
	padding: 15px;
	width: 8rem;
	background-color: White;
	font-size: 0.9rem;
	font-weight: 600;
}

.dashboard__head span {
	height: inherit;
	width: 100%;
	border-left: 1px solid #9b9ebb;
	border-bottom: 1px solid #9b9ebb;
	background-color: #f7f7f7;
}

.alert {
	width: 90%;
	height: 2rem;
	display: none;
	opacity: 0;
	align-items: center;
	padding: 10px;
	margin: 0.5rem auto;
	background-color: #7477bf;
	border-radius: 6px;
}

.alert span:first-child {
	margin-right: auto;
	font-size: 0.7rem;
	color: #e8e8ee;
}

.alert span:last-child {
	display: block;
	position: relative;
	height: 1.25rem;
	width: 1.25rem;
	border-radius: 50%;
	cursor: pointer;
}

.alert span:last-child:hover {
	background-color: maroon;
}

.alert span:last-child::before,
.alert span:last-child::after {
	content: "";
	position: absolute;
	height: 12px;
	width: 2px;
	top: 7px;
	right: 11px;
	background-color: #e8e8ee;
}

.alert span:last-child::before {
	transform: rotate(45deg);
}

.alert span:last-child::after {
	transform: rotate(-45deg);
}

/* ===============================================
================= GRAPHS SECTION =================
=============================================== */

.graph {
	margin: 0.5rem auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.graph__title {
	display: block;
	width: 90%;
	margin: 0 auto 0.25rem auto;
	font-size: 0.7rem;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.graph__web {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: 0.5rem 0 0.25rem 0;
	margin: 0.25rem auto;
}

.graph__web ul {
	width: 90%;
	margin: 0.5rem auto;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.graph__web ul li {
	height: 1.5rem;
	width: 65px;
	padding-top: 5px;
	margin: auto 0.25rem;
	list-style: none;
	font-size: 0.7rem;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
}

.active {
	border-radius: 100px;
	background-color: #99dd99;
	color: #ffffff;
}

.graph__web .graph__container {
	margin: 0.25rem auto;
	height: 175px;
}

.graph__daily,
.graph__mobile,
.graph__social {
	width: 100%;
	padding: 0.5rem 0 0.25rem 0;
	margin: 0.25rem auto;
	border-top: 1px solid #9b9ebb;
}

.graph__container {
	width: 90%;
	margin: 1rem auto 0.5rem auto;
	height: 150px;
}

.social {
	display: flex;
	align-items: center;
	width: 90%;
	height: 4.75rem;
	margin: 0.75rem auto 0 auto;
	border-radius: 8px;
	border: 2px solid #c7c4c4;
	background-color: #eeebeb;
}

.social span {
	height: 3rem;
	width: 3rem;
	margin-left: 0.5rem;
	margin-right: 1rem;
	border-radius: 50%;
	position: relative;
	background-color: #7477bf;
}

.social__svg {
	position: absolute;
	left: 0.775rem;
	top: 0.775rem;
	height: 1.5rem;
	width: 1.5rem;
	fill: white;
}

.social div {
	display: flex;
	flex-direction: column;
}

.social__title {
	color: #7477bf;
	font-size: 0.8rem;
	font-weight: 600;
}

.social__traffic {
	margin-top: -0.2rem;
	font-size: 1.9rem;
	font-weight: 200;
	color: #888888;
}

/* ===============================================
================ MEMBERS SECTION =================
=============================================== */

#members {
	margin: 0.5rem auto 1rem auto;
}

.new-member,
.recent-activity {
	padding: 0.5rem 0 0.25rem 0;
	margin: 0.5rem auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #9b9ebb;
}

#members h3 {
	width: 90%;
	margin: 0 auto 0.25rem auto;
	align-self: flex-start;
	font-size: 0.7rem;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.member,
.recent {
	width: 90%;
	padding: 0.75rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #9b9ebb;
}

.member:last-child,
.recent:last-child {
	border-bottom: none;
}

#members img {
	height: 3.2rem;
	width: 3.2rem;
	margin-bottom: 0.1rem;
	border-radius: 50%;
}

.member div,
.recent div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.member__name,
.member__mail,
#members p {
	margin-top: 0rem;
	font-size: 0.6rem;
}

.member__name {
	font-weight: normal;
}

.member__mail {
	color: #7477bf;
	text-decoration: none;
}

.recent__info {
	text-align: center;
}

.recent span {
	display: none;
	color: #7477bf;
}

/* ===============================================
================= MESSAGE FORM ===================
=============================================== */

.message {
	position: relative;
	padding-top: 0.5rem;
	margin: 0.5rem auto;
	border-top: 1px solid #9b9ebb;
	overflow: hidden;
}

.message h3 {
	width: 90%;
	margin: 0 auto 0.25rem auto;
	align-self: flex-start;
	font-size: 0.7rem;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.message input,
.message textarea,
.message button {
	display: block;
	height: 2.3rem;
	width: 90%;
	border-radius: 5px;
}

.message input,
.message textarea {
	padding: 0.5rem;
	margin: 0.75rem auto;
	border: 2px solid #cccccc;
	border-radius: 5px;
	outline: none;
	background-color: #f5f5f5;
	color: rgb(51, 50, 50, 0.7);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
}

.message textarea {
	height: 7.5rem;
}

.message button {
	margin: auto;
	background-color: #7477bf;
	color: white;
}

.message div {
	position: absolute;
	display: flex;
	justify-content: center;
	left: 10%;
	top: 2.35rem;
	width: 80%;
	text-align: center;
	transition: transform 1s ease-out;
	transform: translateY(-225%);
}

.message span {
	padding: 8px;
	height: 2rem;
	width: 260px;
	border-radius: 20px;
	font-size: 0.8rem;
	color: white;
}

.success {
	background-color: #47dd47da;
}

.error {
	background-color: rgba(230, 31, 31, 0.836);
}

/* ===============================================
================ SETTINGS SECTION ================
=============================================== */

.settings {
	width: 100%;
	padding: 0.5rem 0 0.25rem 0;
	margin: 0.5rem auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #9b9ebb;
}

.settings h3 {
	width: 90%;
	margin: 0 auto 0.25rem auto;
	align-self: flex-start;
	font-size: 0.7rem;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.checkbox-container {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.label-container {
	margin: 1.25rem 0;
	font-size: 0.7rem;
}

.slider-container {
	height: 34px;
	width: 90px;
}

.slider-container input {
	display: none;
}

.slider {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 100%;
	padding: 7px 10px;
	border-radius: 34px;
	border: 2px solid #cccccc;
	background-color: #f5f5f5;
	text-align: right;
	color: rgb(51, 50, 50, 0.7);
	font-size: 0.65rem;
	transition-property: background-color, color, text-align;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
	cursor: pointer;
}

.slider::after {
	content: "";
	position: absolute;
	top: 3px;
	left: 6px;
	height: 21px;
	width: 21px;
	border-radius: 50%;
	border: 2px solid #cccccc;
	background-color: white;
	transition: transform 0.4s ease-out;
}

.slider-container input:checked + span {
	background-color: #7477bf;
	text-align: left;
	color: white;
}

.slider-container input:checked + span::after {
	transform: translateX(50px);
}

.settings select {
	height: 2.3rem;
	width: 90%;
	padding: 0.3rem;
	margin: 1.75rem auto 1rem auto;
	outline: none;
	border-radius: 5px;
	border: 2px solid #cccccc;
	background-color: #f5f5f5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
	color: rgb(51, 50, 50, 0.7);
	cursor: pointer;
}

.settings__btns {
	display: flex;
	width: 90%;
	margin: 0 auto 0.5rem;
	justify-content: space-between;
	align-items: center;
}

.savebtn,
.cancelbtn {
	display: block;
	outline: none;
	height: 2.3rem;
	width: 49%;
	border-radius: 5px;
	color: white;
}

.savebtn {
	background-color: #7477bf;
}

.cancelbtn {
	background-color: #999999;
}

@media screen and (min-width: 768px) {
	/* ===============================================
	====================== BASE ======================
	=============================================== */

	.container {
		grid-template-columns: 70px auto;
		grid-template-rows: repeat(2, auto);
		grid-template-areas: "header header" "nav main";
	}

	/* ===============================================
	===================== HEADER =====================
	=============================================== */

	.header__notifications {
		width: 400px;
	}

	/* ===============================================
	====================== NAV =======================
	=============================================== */

	.navbar {
		flex-direction: column;
		height: 100%;
		width: 70px;
		padding: 10px 20px;
		align-items: center;
		justify-content: flex-start;
	}

	.navbar__link {
		margin: 0.75rem 0;
	}

	/* ===============================================
	====================== MAIN ======================
	=============================================== */

	.alert {
		width: 95%;
	}

	/* ===============================================
	================= GRAPHS SECTION =================
	=============================================== */

	.graph {
		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: repeat(2, 1fr);
	}

	.graph__web {
		grid-column: 1/3;
		height: 20rem;
		margin-top: 0;
		padding-top: 0;
	}

	.graph__web div:first-child {
		display: flex;
		width: 95%;
		margin: 0 auto 0.5rem auto;
		align-items: center;
	}

	.graph__web ul {
		width: 90%;
		justify-content: flex-end;
	}

	.graph__web .graph__title {
		margin: 0.5rem auto;
	}

	.graph__web .graph__container {
		width: 95%;
		height: 300px;
	}

	.graph__daily,
	.graph__mobile {
		height: 12rem;
		border-bottom: 1px solid #9b9ebb;
	}

	.graph__daily {
		border-right: 1px solid #9b9ebb;
	}

	.graph__daily .graph__container,
	.graph__mobile .graph__container {
		margin-top: 1.75rem;
		height: 150px;
	}

	.graph__container {
		width: 90%;
		margin: auto;
	}

	.graph__social {
		grid-column: 1/3;
		width: 95%;
		display: flex;
		flex-direction: column;
		align-items: center;
		border: none;
	}

	.graph__social .graph__title {
		width: 100%;
	}

	.graph__social ul {
		width: 100%;
		margin-top: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.social {
		height: 5rem;
		width: 32%;
		margin: 0;
	}

	.social span {
		margin-right: 0.5rem;
	}

	/* ===============================================
	================ MEMBERS SECTION =================
	=============================================== */

	#members {
		margin-bottom: 0;
	}

	.new-member,
	.recent-activity {
		margin: 0 auto;
	}

	#members h3 {
		width: 95%;
	}

	.member,
	.recent {
		width: 95%;
		flex-direction: row;
		align-items: center;
	}

	#members img {
		margin-right: 1.5rem;
	}

	.member div,
	.recent div {
		align-items: flex-start;
	}

	.member p,
	.recent span {
		margin-left: auto;
	}

	.recent span {
		display: inline;
		cursor: pointer;
	}

	/* ===============================================
	================= MESSAGE FORM ===================
	=============================================== */

	.message {
		margin-top: 0;
	}

	.message h3 {
		width: 95%;
	}

	.message input,
	.message textarea,
	.message button {
		width: 95%;
	}

	/* .message div {
		left: 25%;
		width: 50%;
	} */

	/* ===============================================
	================ SETTINGS SECTION ================
	=============================================== */

	.settings h3 {
		width: 95%;
	}

	.checkbox-container {
		width: 45%;
		margin-right: 50%;
	}

	.settings select {
		width: 95%;
	}

	.settings__btns {
		width: 95%;
	}
}

@media screen and (min-width: 1024px) {
	/* ===============================================
	================= GRAPHS SECTION =================
	=============================================== */

	.graph__web {
		height: 24rem;
	}

	.graph__web .graph__container {
		height: 400px;
	}

	.graph__daily,
	.graph__mobile {
		height: 16rem;
	}

	.graph__daily .graph__container,
	.graph__mobile .graph__container {
		margin-top: 2.25rem;
		height: 200px;
	}
	/* ===============================================
	================ MEMBERS SECTION =================
	=============================================== */

	#members {
		margin-bottom: 0;
	}

	.new-member,
	.recent-activity {
		width: 50%;
		border-bottom: 1px solid #9b9ebb;
	}

	.new-member {
		float: left;
		border-right: 1px solid #9b9ebb;
	}

	.recent div {
		width: 60%;
	}

	.recent__info {
		text-align: left;
	}

	#members h3 {
		width: 90%;
	}

	.member,
	.recent {
		width: 95%;
	}

	/* ===============================================
	============ MESSAGE FORM & SETTINGS =============
	=============================================== */

	.message,
	.settings {
		width: 50%;
		height: 340px;
		margin: 0;
		padding: 0.5rem 0;
		display: flex;
		flex-direction: column;
		border: none;
	}

	.message h3,
	.settings h3 {
		width: 90%;
	}

	.message button,
	.settings__btns {
		margin: auto auto 0 auto;
	}

	.message {
		float: left;
		border-right: 1px solid #9b9ebb;
	}

	.message input,
	.message textarea,
	.message button {
		width: 90%;
	}

	.message textarea {
		margin-top: 0;
	}

	.message div {
		top: 2.6rem;
		transform: translateY(-250%);
	}

	.checkbox-container {
		width: 60%;
		margin-right: 30%;
	}

	.settings select {
		margin: 2rem auto 0 auto;
	}
}
