/* ===============================================
====================== BASE ======================
=============================================== */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

html {
	font-size: 20px;
}

body {
	min-height: 100vh;
	background-color: #f7f7f7;
}

svg {
	height: 3rem;
}

button {
	cursor: pointer;
}

.container {
	display: grid;
	grid-template-rows: 1fr 1fr auto;
}

/* ===============================================
===================== HEADER =====================
=============================================== */

.header {
	height: 3.15rem;
	position: relative;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #7477bf;
	color: white;
}

.header__title,
.header__title span {
	font-size: 1rem;
}

.header__title {
	font-weight: 400;
}

.header__title span {
	font-weight: 300;
}

.header__info {
	display: flex;
	align-items: center;
}

.svg-container {
	padding: 4px 4px 0 4px;
	margin-right: 0.4rem;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.header__bell {
	height: 1.05rem;
	fill: #e0e1eb;
	position: relative;
}

.svg-container span {
	position: absolute;
	top: 0;
	right: 0;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background: #90ee90;
}

.header__notifications {
	display: none;
	width: 80vw;
	position: absolute;
	top: 3rem;
	right: 1rem;
	background-color: white;
	box-shadow: 0px 0px 2px 1px skyblue;
}

.header__notifications li {
	height: 2.5rem;
	display: flex;
	align-items: center;
	padding: 1rem 2.75rem;
	border-bottom: 1px solid #9b9ebb;
}

.notification-text {
	position: relative;
	margin-right: auto;
	list-style: none;
	font-size: 0.65rem;
	color: black;
}

.notification-text:before {
	content: "";
	position: absolute;
	top: 2.5px;
	left: -1.25rem;
	height: 0.6rem;
	width: 0.6rem;
	border-radius: 50%;
	background: #90ee90;
}

.close-notification {
	position: relative;
	height: 1rem;
	width: 1rem;
}

.close-notification::before,
.close-notification::after {
	content: "";
	position: absolute;
	height: 16px;
	width: 2px;
	top: 3px;
	right: 5px;
	background-color: black;
}

.close-notification::before {
	transform: rotate(45deg);
}

.close-notification::after {
	transform: rotate(-45deg);
}

.header__profile {
	margin-left: 0.4rem;
	display: flex;
	align-items: center;
	border-left: 1px solid #9b9ebb;
}

.header__image {
	height: 1.85rem;
	width: 1.85rem;
	margin: auto 0.4rem;
	border-radius: 50%;
}

.header__name {
	font-weight: 400;
	font-size: 0.6rem;
}

/* ===============================================
====================== NAV =======================
=============================================== */

.navbar {
	height: 2.7rem;
	padding: 10px 40px;
	display: flex;
	justify-content: center;
	background-color: #4d4c72;
}

.navbar__link {
	margin: auto;
}

.navbar__svg {
	height: 1.5rem;
	fill: white;
}

/* ===============================================
====================== MAIN ======================
=============================================== */

.dashboard {
	background-color: white;
}

/* ===============================================
================= GRAPHS SECTION =================
=============================================== */

.graph {
	margin: 0.5rem auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.graph__title {
	width: 90%;
	margin: 0 auto 0.25rem auto;
	align-self: flex-start;
	font-size: 0.7rem;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.graph__web {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: 0.5rem 0 0.25rem 0;
	margin: 0.25rem auto;
}

.graph__web ul {
	width: 80%;
	margin: 0.5rem auto;
	display: flex;
	justify-content: space-between;
}

.graph__web ul li {
	list-style: none;
	font-size: 0.7rem;
	font-weight: 400;
	cursor: pointer;
}

.graph__daily,
.graph__mobile,
.graph__social {
	width: 100%;
	padding: 0.5rem 0 0.25rem 0;
	margin: 0.25rem auto;
	border-top: 1px solid #9b9ebb;
}

.social {
	display: flex;
	align-items: center;
	width: 90%;
	height: 4.75rem;
	margin: 0.75rem auto 0 auto;
	border-radius: 8px;
	border: 2px solid #c7c4c4;
	background-color: #eeebeb;
}

.social span {
	height: 3rem;
	width: 3rem;
	margin-left: 0.5rem;
	margin-right: 1rem;
	border-radius: 50%;
	position: relative;
	background-color: #7477bf;
}

.social__svg {
	position: absolute;
	left: 0.775rem;
	top: 0.775rem;
	height: 1.5rem;
	width: 1.5rem;
	fill: white;
}

.social div {
	display: flex;
	flex-direction: column;
}

.social__title {
	color: #7477bf;
	font-size: 0.8rem;
	font-weight: 600;
}

.social__traffic {
	margin-top: -0.2rem;
	font-size: 1.9rem;
	font-weight: 200;
}

/* ===============================================
================ MEMBERS SECTION =================
=============================================== */

#members {
	margin: 0.5rem auto 1rem auto;
}

.new-member,
.recent-activity {
	padding: 0.5rem 0 0.25rem 0;
	margin: 0.5rem auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #9b9ebb;
}

#members h3 {
	width: 90%;
	margin: 0 auto 0.25rem auto;
	align-self: flex-start;
	font-size: 0.7rem;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.member,
.recent {
	width: 90%;
	padding: 0.75rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #9b9ebb;
}

.member:last-child,
.recent:last-child {
	border-bottom: none;
}

#members img {
	height: 3.2rem;
	width: 3.2rem;
	margin-bottom: 0.1rem;
	border-radius: 50%;
}

.member__name,
.member__mail,
#members p {
	margin-top: 0.05rem;
	font-size: 0.6rem;
}

.member__name {
	font-weight: normal;
}

.member__mail {
	color: #7477bf;
	text-decoration: none;
}

.recent__info {
	text-align: center;
}

.message {
	padding-top: 0.75rem;
	margin: 0.5rem auto;
	border-top: 1px solid #9b9ebb;
}

.message input,
.message textarea,
.message button {
	display: block;
	height: 2.3rem;
	width: 90%;
	border-radius: 5px;
}

.message input,
.message textarea {
	padding: 0.3rem;
	margin: 0.75rem auto;
	border: 2px solid #c7c4c4;
	border-radius: 5px;
	outline: none;
	background-color: #eeebeb;
	color: rgb(51, 50, 50, 0.7);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
}

.message textarea {
	height: 7.5rem;
}

.message button {
	margin: auto;
	background-color: #7477bf;
	color: white;
}

/* ===============================================
================ SETTINGS SECTION ================
=============================================== */

.settings {
	width: 100%;
	padding: 0.5rem 0 0.25rem 0;
	margin: 0.5rem auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #9b9ebb;
}

.settings h3 {
	width: 90%;
	margin: 0 auto 0.25rem auto;
	align-self: flex-start;
	font-size: 0.7rem;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.checkbox-container {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.label-container {
	margin: 1.25rem 0;
	font-size: 0.7rem;
}

.slider-container {
	height: 34px;
	width: 90px;
}

.slider-container input {
	display: none;
}

.slider {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 100%;
	padding: 7px 10px;
	border-radius: 34px;
	border: 2px solid #c7c4c4;
	background-color: #eeebeb;
	text-align: right;
	color: rgb(51, 50, 50, 0.7);
	font-size: 0.65rem;
	transition-property: background-color, color, text-align;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
	cursor: pointer;
}

.slider::after {
	content: "";
	position: absolute;
	top: 3.5px;
	left: 6px;
	height: 21px;
	width: 21px;
	border-radius: 50%;
	border: 2px solid #c7c4c4;
	background-color: white;
	transition: transform 0.4s ease-out;
}

.slider-container input:checked + span {
	background-color: #7477bf;
	text-align: left;
	color: white;
}

.slider-container input:checked + span::after {
	transform: translateX(50px);
}

.settings select {
	height: 2.3rem;
	width: 90%;
	padding: 0.3rem;
	margin: 1.75rem auto 1rem auto;
	outline: none;
	border-radius: 5px;
	border: 2px solid #c7c4c4;
	background-color: #eeebeb;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
	color: rgb(51, 50, 50, 0.7);
}

.settings__btns {
	display: flex;
	width: 90%;
	margin: 0 auto 0.5rem;
	justify-content: space-between;
	align-items: center;
}

.savebtn,
.cancelbtn {
	display: block;
	outline: none;
	height: 2.3rem;
	width: 45%;
	border-radius: 5px;
	color: white;
}

.savebtn {
	background-color: #7477bf;
}

.cancelbtn {
	background-color: #999999;
}
